.contact-page-container {


  .contact-hero-image-box {
    background: url("../../images/contactPageCoverPicture.jpg") center no-repeat;
    background-size: cover;
    height: 35vh;
    width: 100%;
    background-position: inherit;

  }

  .page-title {
    font-family: 'montserratblack';
    color: #59253A;
  }

  .contact-second-section {
    min-height: 100px;
  }

  .contact-icons {
    height: 150px;
    fill: #59253A;
  }

  .contact-ways {
    min-height: 300px;
    max-width: 750px;
  }

  .contact-card-title {
    font-size: 20px;
    font-family: 'montserratblack';
    color: #59253A;
  }
  .contact-card-information a{
    font-size: 20px;
    text-decoration: none;
    text-underline: none;
    color: #59253A;
    font-family: 'montserratsemibold';


  }
  .contact-card-information a:hover{
    text-decoration: underline;
  }

  @media only screen and (max-width: 600px) {
    .contact-hero-image-box {
      height: 20vh;
    }
    .contact-second-section {
      min-height: 100px;
    }
  }
  .gmap_canvas {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
  }
  .gmap_canvas iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}



