.ourcars-page-container {


  .ourcars-hero-image-box {
    background: url("../../images/ourcarsBackgroundImage.jpg") center no-repeat;
    background-size: cover;
    height: 35vh;
    width: 100%;
  }

  .page-title {
    font-family: 'montserratblack';
    color: #59253A;
  }
  .ourcars-second-section {
    min-height: 100px;
  }
  .contact-us-our-cars-page{
    min-height: 250px;
  }
  @media only screen and (max-width: 600px) {
    .contact-us-our-cars-page{
      min-height: 150px;
    }
  }
}
