.form-contact-form {
  max-width: 645px;
  width: 100%;
}

input {
  height: 50px;
  margin-bottom: 15px;
  padding-left: 15px;
  font-family: 'montserratregular';
}

textarea {
  height: 200px;
  padding-left: 15px;
  font-family: 'montserratregular';

}

.submit-button {
  margin-top: 15px;
}

.loading-button {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid black; /* red */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin-right: 10px;
  @-ms-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }

}

.email-succeeded-message {
  font-family: "montserratblack";
  color: #59253A;
  font-size: 20px;
}
