.form-contact-form{
  max-width: 645px;
  width: 100%;
}

input {
  height: 50px;
  margin-bottom: 15px;
  padding-left: 15px;
  font-family: 'montserratregular';
}

textarea {
  height: 200px;
  padding-left: 15px;
  font-family: 'montserratregular';

}
.submit-button{
  margin-top: 15px;
}
