.navbar{
  font-family: 'montserratsemibold';
  font-size: 16px;
  padding-right: 25px;
  padding-left: 25px;

  .logo-image{
    height: 50px;
  }
  .flag-icon{
    width: 25px;
    height: 40px;
  }
  .language-link{
    color: rgba(255,255,255,.55);
    padding-left: 10px;
    text-decoration: none;
    cursor: pointer;
  }
}

