.footer-container {
  background-color: #212529;
  min-height: 220px;
  color: white;
  font-size: 17px;
  font-family: 'montserratsemibold';


  .logo-image {
    height: 50px;
  }

  .social-media-col {
    border-left: 1px solid;

    ul {
      list-style: none;
    }

    .nav-link {
      color: white;
      font-family: 'montserratsemibold';
      font-size: 15px;
    }

    .social-media-li {
      margin-bottom: 10px;
    }

    .icon-social-media {
      width: 30px;
      height: 30px;
    }
  }

  .copyright {
    font-size: 15px;
  }

  @media only screen and (max-width: 600px) {
    .social-media-col {
      border-left: none;
      border-top: 1px solid;

      ul {
        padding-left: 0;
        display: inline-flex;
        margin-top: 10px;
      }
    }
  }
}

.footer-contact {
  color: white;
  text-decoration: none;
  text-underline: none;
}

.contact-details a:hover {
  color: #59253A;

}
